
    
							<section id="header" class="appear">
									<img src="../../assets/images/intro-background.jpg" style="width:100%;height: 104vh;">
								</section>
							
						<!-- <div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
							<h1>CONFIRM YOUR BOOKING</h1>	
						</div> -->
		
	
	 <div class="gtco-section border-bottom">
		<div class="gtco-container">
			  
			
<!--<div>class="col-md-4"-->
<div class="price-box">
<h2 class="pricing-plan">CONFIRM YOUR BOOKING</h2>
<!-- <div class="price"><sup class="currency">Rupees</sup>6000<small>/rs</small></div> -->
<table class="table" style="width:100%">
		<thead class="thead-dark">	
	<tr>
		<th>Filght Name</th>
		<th>Filght Id</th>
		<th>Departure Date</th>
		<th>Passenger Name</th>
		<th>Seats</th>
		<th>Price</th>
	</tr>
</thead>
	<tbody>
		<tr class="table-primary"*ngFor="let b of bookings">
			<td>{{b.flightName}}</td>
			<td>{{b.flightId}}</td>
			<td>{{b.depart}}</td>
			<td>{{b.passengerName}}</td>
			<td>{{b.seats}}</td>
			<td>{{b.price}}</td>
	   </tr>
	</tbody>
   	</table>
	<br>

	<button class="btn btn-info" (click)="onClick()">Pay</button>

</div>
</div>
</div>
			
		
	

